In [1]:
#Create 3 star
def print_star_pattern(rows):
    for i in range(1, rows + 1):
        print("* " * i)


rows = 3
print_star_pattern(rows)

*
* *
* * *

In [2]:
def multiply_three_values(a, b, c):
    result = a * b * c
    return result


x = 2
y = 3
z = 4

result = multiply_three_values(x, y, z)
print(f"The result of {x} * {y} * {z} is {result}")

The result of 2 * 3 * 4 is 24

In [6]:
#power fuction eg. 2 raised to 3, 5raised to 4, base raised to power (power)
def power(base, exponent):
    result = base ** exponent
    return result


base = 2
exponent = 3
result = power(base, exponent)
print(f"{base} raised to the power {exponent} is {result}")

2 raised to the power 3 is 8

In [4]:
# cube of any value (cube())
def cube(value):
    result = value * value * value
    return result


number = 5
cubed_value = cube(number)
print("The cube of", number, "is", cubed_value)

The cube of 5 is 125

In [5]:
#Define Factorial function fact(n)
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)


number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [21]:
#  Addition of only even Numbers even (1,2,5,46,4,5,42,45,2)
def sum_even_numbers(numbers):
    result = 0
    for num in numbers:
        if num % 2 == 0:
            result += num
    return result


numbers = [1, 2, 5, 46, 4, 5, 42, 45, 2]
even_sum = sum_even_numbers(numbers)
print(f"The sum of even numbers is: {even_sum}")

The sum of even numbers is: 96

In [17]:
 #print your name of specific times names (35)
name = "Your Name"
 reapet= 35

for i in range(reapet):
    print(name)

Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name
Your Name

In [16]:
#creat list for specific Range..
def create_list(start, end):
    

    result = []
    for i in range(start, end + 1):
        result.append(i)

    return result


start_value = 20
end_value = 56
result_list = create_list(start_value, end_value)
print(result_list)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56]